# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.bolt/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Kubernetes
k8s/kubeconfig.yaml
k8s/ingress.yaml
k8s/portfolio-config.yaml
k8s/portfolio-secret.yaml
k8s/configmap.yaml
k8s/secret.yaml
